[submodule "deepshikhaksolves/erp_pm"]
	path = deepshikhaksolves/erp_pm
	url = git@github.com:deepshikhaksolves/erp_pm.git
	branch = main

[submodule "lq-todoo/MoreP"]
	path = lq-todoo/MoreP
	url = git@github.com:lq-todoo/MoreP.git
	branch = main

[submodule "lq-todoo/MoreP0"]
	path = lq-todoo/MoreP0
	url = git@github.com:lq-todoo/MoreP.git
	branch = main
